<h1>Mushrooms#index</h1>
<p>Find me in app/views/mushrooms/index.html.erb</p>

<form>
  <input type="text" name="crear comentario">
  <button type="submit" name="button">Crear</button>
</form>

<br>

<button id='getButton'>Fetch comments</button>

<ul></ul>
